body {
	color: #001f3f;
	font-family: 'Open Sans', sans-serif;
	color: #001f3f;
}

.btn-default, input {
	color: #001f3f;
	font-size: 16px;
}

.btn {
	font-size: 16px;
}

h1 {
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 60px;
}

p {
	font-size: 24px;
	text-align: left;
	}


.btn {
	margin: 4px;
}

.thumbnail {
	margin-top: 10px;
	height: 160px;
	width: 180px;
	float: left;
}

.formSection {
    padding: 20px;
    text-align: center;
}

label, input {
	font-size: 16px;
}

input {
	margin-left: 10px;
}
label {
	padding-right: 15px;
}

	border-style: hidden;
}*/